
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("GetFTemperatureFromC", "Temperature", FormMethod.Get))
    {
        <label>Temperature in celsius:</label>
        @Html.TextBox("cTemp", "")
        <label>Select file type:</label>
        @Html.DropDownList("fileType", new List<SelectListItem>(){
            new SelectListItem("None", "None"),
            new SelectListItem("Txt", "Txt"),
            new SelectListItem("Zip", "Zip"),
            new SelectListItem("Bytes", "Bytes")
            })
        <input type="submit" value="Convert" />
    }
</body>
</html>